
*
{
    margin: 0;
    padding: 0;
}

:root {
    --couleur-blanche: white;
    --bouton-edit:#979797;
    --couleur-de-paragraphe:#747474;
    --champs-et-bordures:#D8D8D8;
    --couleur-de-la-poubelle:red;
    --couleur-bleue:#009bff;
}

header
{
    /* display: flex;  */
    /* justify-content: space-between; */
    /* margin: 30px 160px; */
    /* gap: 60px; */
    flex-direction: row;
    max-width: 1200px;
}

form #btn-contact
{ 
 background-color: var(--couleur-bleue);
 color: var(--couleur-blanche);
 border: none;
 border-radius: 10px;
 height: 35px;
 width: 135px;
 font-weight: bold;
 font-size: 17px;
}

main
{
    /* display: flex; */
    margin: 60px 170px;
    justify-content: space-between;
    max-width: 1200px;
}

#message
{
    
    font-size: 25px;
    color:var(--couleur-de-paragraphe);
    margin: 0;
    text-align: none;
    padding-right: 110px;
}

.division-form{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 15px 0;
}

.division-form input
{
    border: 1px var(--champs-et-bordures) solid;
    border-radius: 5px ;
    height: 25px;
    width: 155px;
    cursor: pointer;
    margin: 5px 0;
    outline: none;
}

.division-form select{
    border: 1px var(--champs-et-bordures) solid;
    border-radius: 5px ;
    height: 25px;
    width: 157px;
    cursor: pointer;
    margin: 5px 0;
    color: var(--bouton-edit) ;
    outline: none;
}

.division-form #btn-ajout-contact{
    border: 0;
    border-radius: 5px ;
    height: 28px;
    width: 195px;
    cursor: pointer;
    margin: 5px 0;
    color: var(--couleur-blanche) ;
    background-color: var(--couleur-bleue);
}


.division-form #btn-annuler{
    border: 0;
    border-radius: 5px ;
    height: 28px;
    width: 133px;
    cursor: pointer;
    margin: 5px 0;
    color: var(--couleur-blanche) ;
    background-color: var(--bouton-edit);
    margin-left: 20px;
}

.section-droite h2{
 padding: 20px 0;
}

.section-droite 
{
    padding-right: 110px;
    max-width: 1200px;
}

.section-gauche{
    max-width: 1200px;
}

hr
{
    margin-left: 60px;
    /* width: 200px; */
}

#user-picture {
    outline: none;
    background-color: var(--couleur-bleue);
    padding: 5px 15px; 
    cursor: pointer;   
    border-radius: 5px ;
    height: 15px;
    max-width: 125px;
    color:var(--couleur-blanche);  
    border: none;
}

::-webkit-file-upload-button{
  color: var(--couleur-bleue);
  border: none;
  display: none;
}

/* #icon-picture
{
   overflow: hidden;
   height: 15px;
   width: 25px;
   padding: 10px 10px;
} */
/* 

*/


/* .section-gauche
{
    display: flex;
    
} */




#poubelle {
    background-color: var(--couleur-de-la-poubelle);
    border-radius: 10px;
    height: 15px;
    width: 25px;
    padding: 10px 10px;
}

/* 
#btn-pencil,
#btn-poubelle{
    border: none;
    overflow: hidden;
} */


/* 
@media screen and (max-width:540px){
    header{
        flex-direction: column;
       }

    #message{
        text-align: center;
        overflow: hidden;
    }
    
    hr{
        display: none;
    }
    #formulaire{
    flex-wrap: wrap;
  }
  .division-form{
    margin-left: 35px;
  }
  .division-form #btn-ajout-contact{
    width: 155px;
  }
  .division-form #btn-annuler{
    width: 105px;
  }
} */


/* @media screen and (min-width:576px){
    header{
        flex-direction: column;
       }
    main{
        flex-direction:column;
        flex-wrap:wrap;
        padding-left: 15px;
        overflow: hidden;
        align-content: space-around;
    }
    #message{
        text-align: center;
        overflow: hidden;
        margin-left: 10px;
    }
    h2{
        text-align: center;
        overflow: hidden;  
    }
    hr{
        display: none;
    }
    #formulaire{
    flex-wrap: wrap;
  }
  .division-form{
    margin-left: 35px;
  }
  .division-form #btn-ajout-contact{
    width: 155px;
  }
  .division-form #btn-annuler{
    width: 105px;
  }
} */





/* Responsive pour les écrans de taille moyenne */
/* @media screen and (max-width:768px){
    header{
        gap: 50px;
        padding-top:  20px;
    }
    main{
        flex-direction:column;
        flex-wrap:wrap;
    }
    h2{
        margin-left: 70px;
    }
    #formulaire{
    flex-wrap: wrap;
  }
  .division-form{
    margin-left: 120px;
  }
  .division-form #btn-ajout-contact{
    width: 155px;
  }
  .division-form #btn-annuler{
    width: 105px;
  }
} */

/* Responsive pour les écrans de taille moyenne */
/* @media screen and (min-width:820px){
    header{
        gap: 20px;
        padding-top:  20px;
        display: flex;
        align-items: center;
        margin-left: 80px;
    }

    main{
        flex-direction:column;
        flex-wrap:wrap;
        display: inline-block;
    }
       
    .section-droite{
       align-items: start;
    }

    h2{
      margin-right: 80px;
    }
    #formulaire{
    flex-wrap: wrap;
  }
  .division-form{
    margin-left: 185px;
  }
  .division-form #btn-ajout-contact{
    width: 155px;
  }
  .division-form #btn-annuler{
    width: 105px;
  }
} */

/* @media screen and (min-width:412px){
    header{
        margin: 20px 120px;
        padding: 20px 0;
    }

    h1{
        font-size: 25px;
    }
    form #btn-contact
    { 
    background-color: var(--couleur-bleue);
    color: var(--couleur-blanche);
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 135px;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 20px;
}
    main{
      margin: 10px 5px;
    }
    #message{
        text-align: center;
        margin-left: 95px;
    }
    hr{
        display: none;
    }
    h2{
        text-align: center;
    }
    #formulaire{
    flex-wrap: wrap;
  }
 
  .division-form #btn-ajout-contact{
    width: 155px;
  }
  .division-form #btn-annuler{
    width: 105px;
  }
} */

/* 
@media screen and (min-width:375px){
    header{
        margin: 20px 100px;
        padding: 20px 0;
    }

    h1{
        font-size: 25px;
    }
    form #btn-contact
    { 
    background-color: var(--couleur-bleue);
    color: var(--couleur-blanche);
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 115px;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 20px;
}
    main{
      margin: 10px 5px;
    }
    #message{
        text-align: center;
        margin-left: 80px;
    }
    hr{
        display: none;
    }
    h2{
        margin-left: 10px;
        text-align:right;
        font-size: 20px;
    }
    #formulaire{
    flex-wrap: wrap;
  }
  .division-form #btn-ajout-contact{
    width: 155px;
  }
  .division-form #btn-annuler{
    width: 105px;
  }
  .division-form{
    margin-left: 90px;
  }
} */







/* écran large */
/* calme */
/*  */
/*  */
@media screen and (min-width:992px){
    header{
        gap: 20px;
        padding-top:  20px;
        flex-direction: row;
        justify-content: center;
        margin-left: 100px;
        align-items: center;
    }

    form #btn-contact
    { 
     background-color: var(--couleur-bleue);
     color: var(--couleur-blanche);
     border: none;
     border-radius: 10px;
     height: 35px;
     width: 135px;
     font-weight: bold;
     font-size: 17px;
    }

    h1{
        font-size: 30px;
    }

    main{
        flex-direction:column;
        flex-wrap:wrap;
        padding-left: 15px;
        display: flex;
    }
    #message{
        margin-left: 100px;
    }
    h2{
        /* margin-left: 90px; */
        text-align: center;
        margin-left: 95px;
    }
    #formulaire{
    flex-wrap: wrap;
  }
  .division-form{
    margin-left: 150px;
  }
  .division-form #btn-ajout-contact{
    width: 135px;
  }
  .division-form #btn-annuler{
    width: 125px;
    margin: 0 45px;
  }
}




/* écran très large */
/*  */
/*  */
@media screen and (min-width:1200px){
    header{
     flex-direction:row;
     /* align-items: flex-end; */
     justify-content: flex-start;
     margin: 15px 170px;
     align-items: center;
     display: flex;
     gap: 35px;
    }
   
    form #btn-contact
    { 
     background-color: var(--couleur-bleue);
     color: var(--couleur-blanche);
     border: none;
     border-radius: 10px;
     height: 35px;
     width: 135px;
     font-weight: bold;
     font-size: 17px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        /* margin: 0 100px; */
        text-align: center;
    }

    main{
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 55px;
        display: flex;
    }
    .division-form #btn-ajout-contact{
    width: 135px;
    }
    .division-form #btn-annuler{
    width: 125px;
    margin: 0 45px;
  }
}







